# Yulong/Coolpad configuration options

config MACH_YULONG
	bool "Yulong device"
	depends on ARCH_MSM
	help
	  Support for Yulong products

config MACH_YULONG_MSM8939
	bool "Yulong MSM8939"
	depends on ARCH_MSM8916
	select MACH_YULONG
	help
	  Support for MSM8939 Yulong variants